#!/usr/bin/env python
PACKAGE = "franka_human_friendly_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("translational_stiffness", double_t, 0, "Cartesian translational stiffness", 400, 0, 4000)
gen.add("rotational_stiffness", double_t, 0, "Cartesian rotational stiffness", 30, 0, 400)

exit(gen.generate(PACKAGE, "dynamic_fixed_impedance", "fixed_impedance_param"))
